{
  "openapi": "3.0.3",
  "info": {
    "title": "Voidbinder API",
    "version": "0.1.0",
    "description": "Public and user-scoped routes of the Voidbinder API (Hono on Cloudflare Workers). Generated from scripts/cloudflare/api-shield-operations.json for API Shield Endpoint Management; not a full contract."
  },
  "servers": [
    {
      "url": "https://api.voidbinder.de"
    },
    {
      "url": "https://app.voidbinder.de/api"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "get_health",
        "summary": "GET /health",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/me": {
      "get": {
        "operationId": "get_me",
        "summary": "GET /me",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "operationId": "patch_me",
        "summary": "PATCH /me",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "delete_me",
        "summary": "DELETE /me",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/catalog/games": {
      "get": {
        "operationId": "get_catalog_games",
        "summary": "GET /catalog/games",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/catalog/games/{game}/sets": {
      "get": {
        "operationId": "get_catalog_games_game_sets",
        "summary": "GET /catalog/games/{game}/sets",
        "parameters": [
          {
            "name": "game",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/catalog/sets/{game}/{code}": {
      "get": {
        "operationId": "get_catalog_sets_game_code",
        "summary": "GET /catalog/sets/{game}/{code}",
        "parameters": [
          {
            "name": "game",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/catalog/cards/{id}": {
      "get": {
        "operationId": "get_catalog_cards_id",
        "summary": "GET /catalog/cards/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/catalog/prints/{id}": {
      "get": {
        "operationId": "get_catalog_prints_id",
        "summary": "GET /catalog/prints/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/catalog/prints/{id}/prices": {
      "get": {
        "operationId": "get_catalog_prints_id_prices",
        "summary": "GET /catalog/prints/{id}/prices",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/catalog/prints/{id}/prices/history": {
      "get": {
        "operationId": "get_catalog_prints_id_prices_history",
        "summary": "GET /catalog/prints/{id}/prices/history",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/catalog/search": {
      "get": {
        "operationId": "get_catalog_search",
        "summary": "GET /catalog/search",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/catalog/modules": {
      "get": {
        "operationId": "get_catalog_modules",
        "summary": "GET /catalog/modules",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/collection/binders": {
      "get": {
        "operationId": "get_collection_binders",
        "summary": "GET /collection/binders",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "operationId": "post_collection_binders",
        "summary": "POST /collection/binders",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/collection/binders/order": {
      "put": {
        "operationId": "put_collection_binders_order",
        "summary": "PUT /collection/binders/order",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/collection/binders/{id}": {
      "patch": {
        "operationId": "patch_collection_binders_id",
        "summary": "PATCH /collection/binders/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "delete_collection_binders_id",
        "summary": "DELETE /collection/binders/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/collection/entries": {
      "get": {
        "operationId": "get_collection_entries",
        "summary": "GET /collection/entries",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "operationId": "post_collection_entries",
        "summary": "POST /collection/entries",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/collection/entries/{id}": {
      "patch": {
        "operationId": "patch_collection_entries_id",
        "summary": "PATCH /collection/entries/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "delete_collection_entries_id",
        "summary": "DELETE /collection/entries/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/collection/wishlist": {
      "get": {
        "operationId": "get_collection_wishlist",
        "summary": "GET /collection/wishlist",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "operationId": "post_collection_wishlist",
        "summary": "POST /collection/wishlist",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/collection/wishlist/{id}": {
      "patch": {
        "operationId": "patch_collection_wishlist_id",
        "summary": "PATCH /collection/wishlist/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "delete_collection_wishlist_id",
        "summary": "DELETE /collection/wishlist/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/collection/summary": {
      "get": {
        "operationId": "get_collection_summary",
        "summary": "GET /collection/summary",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/collection/owned": {
      "get": {
        "operationId": "get_collection_owned",
        "summary": "GET /collection/owned",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/collection/export.csv": {
      "get": {
        "operationId": "get_collection_export_csv",
        "summary": "GET /collection/export.csv",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/decks": {
      "get": {
        "operationId": "get_decks",
        "summary": "GET /decks",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "operationId": "post_decks",
        "summary": "POST /decks",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/decks/{id}": {
      "get": {
        "operationId": "get_decks_id",
        "summary": "GET /decks/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "patch": {
        "operationId": "patch_decks_id",
        "summary": "PATCH /decks/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "delete": {
        "operationId": "delete_decks_id",
        "summary": "DELETE /decks/{id}",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/decks/{id}/entries": {
      "put": {
        "operationId": "put_decks_id_entries",
        "summary": "PUT /decks/{id}/entries",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/admin/import/scryfall": {
      "post": {
        "operationId": "post_admin_import_scryfall",
        "summary": "POST /admin/import/scryfall",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/admin/import/ygoprodeck": {
      "post": {
        "operationId": "post_admin_import_ygoprodeck",
        "summary": "POST /admin/import/ygoprodeck",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/admin/import/tcgdex": {
      "post": {
        "operationId": "post_admin_import_tcgdex",
        "summary": "POST /admin/import/tcgdex",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/admin/import/tcgcsv": {
      "post": {
        "operationId": "post_admin_import_tcgcsv",
        "summary": "POST /admin/import/tcgcsv",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/admin/price-mappings/{printId}/{source}/{finish}": {
      "put": {
        "operationId": "put_admin_price_mappings_printId_source_finish",
        "summary": "PUT /admin/price-mappings/{printId}/{source}/{finish}",
        "parameters": [
          {
            "name": "printId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finish",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/ok": {
      "get": {
        "operationId": "get_auth_ok",
        "summary": "GET /auth/ok",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/get-session": {
      "get": {
        "operationId": "get_auth_get_session",
        "summary": "GET /auth/get-session",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/sign-up/email": {
      "post": {
        "operationId": "post_auth_sign_up_email",
        "summary": "POST /auth/sign-up/email",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/sign-in/email": {
      "post": {
        "operationId": "post_auth_sign_in_email",
        "summary": "POST /auth/sign-in/email",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/sign-out": {
      "post": {
        "operationId": "post_auth_sign_out",
        "summary": "POST /auth/sign-out",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/verify-email": {
      "get": {
        "operationId": "get_auth_verify_email",
        "summary": "GET /auth/verify-email",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/send-verification-email": {
      "post": {
        "operationId": "post_auth_send_verification_email",
        "summary": "POST /auth/send-verification-email",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/forget-password": {
      "post": {
        "operationId": "post_auth_forget_password",
        "summary": "POST /auth/forget-password",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "operationId": "post_auth_reset_password",
        "summary": "POST /auth/reset-password",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/two-factor/enable": {
      "post": {
        "operationId": "post_auth_two_factor_enable",
        "summary": "POST /auth/two-factor/enable",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/two-factor/disable": {
      "post": {
        "operationId": "post_auth_two_factor_disable",
        "summary": "POST /auth/two-factor/disable",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/two-factor/verify-totp": {
      "post": {
        "operationId": "post_auth_two_factor_verify_totp",
        "summary": "POST /auth/two-factor/verify-totp",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/two-factor/verify-backup-code": {
      "post": {
        "operationId": "post_auth_two_factor_verify_backup_code",
        "summary": "POST /auth/two-factor/verify-backup-code",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/auth/two-factor/generate-backup-codes": {
      "post": {
        "operationId": "post_auth_two_factor_generate_backup_codes",
        "summary": "POST /auth/two-factor/generate-backup-codes",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  }
}
